<header id="nav" class="fixed bg-white p-4 w-full">
    <nav>
        <ul id="list" class="nav-grid">
            <li class="start-0 text-4xl text-gray-950">
                <a href="/">
                    Demetrio Dowbnac
                </a>
            </li>
            <li class="text-gray-600">
                <a href="/#works" class="nav-link transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-100 duration-200">Works</a>
            </li>
            <li class="text-gray-600">
                <a href="/about" class="nav-link transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-100 duration-200">About</a>
            </li>
        </ul>
    </nav>
</header>